@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@400;700&display=swap");

/* General */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

a {
  color: black;
}

a:hover {
  text-decoration: underline;
}

body {
  font-family: "Oxygen", sans-serif;
  padding-bottom: .5em;
}

/* navigation */
.navigation {
  z-index: 1;
  top: 0;
  position: sticky;
  background-color: #fff;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
  margin: 1em 3em;
  padding-bottom: 1em;
  border-bottom: 3px solid #bababa;
}

.navigation__logo {
  text-align: left;
  font-size: 24px;
}

.navigation_cv {
  text-align: right;
}

/*menu nav*/
.navigation > .navigation__menu > ul {
  display: flex;
  flex-direction: row;
  gap: 15px;
  font-size: 18px;
}

/* buttons */
a.button{
  appearance: button;
  text-align: center;
}
button, a.button {
  cursor: pointer;
  outline: none;
  font-weight: bold;
  font-size: 14px;
}

button:active  {
  text-decoration: underline;
}

.button, a.button {
  padding: 1em;
  border-radius: 90px;
  width: 180px;
  box-shadow: -4px 4px 14px rgba(0, 0, 0, 0.25);
}

.primary {
  color: #f2f2f2;
  background-color: #9b28ed;
  border: 2px solid #0f0a0a;
}

.secondary {
  color: #000;
  background-color: #42e2b8;
  border: 2px solid #0f0a0a;
}

/* container */
.container {
  padding: 0 3em;
}

.profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80vh;
}

.profile__message {
  width: 50%;
  line-height: 2;
}

.profile__message > h2 {
  font-size: 59px;
  font-weight: 700;
}

.profile__message > p {
  font-size: 20px;
  font-weight: 400;
}

.profile__image {
  text-align: center;
  width: 50%;
}

.profile_image {
  border-radius: 50%;
  width: 60%;
  height: auto;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.p_message {
  line-height: 1.5;
  word-spacing: 2px;
}

/*card for my projects*/

.portfolio__container {
  margin-top: 2em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: .5em;
  align-items: center;
  justify-content: center;
}

.card__project{
  display: flex;
  flex-direction: column;
  width: 450px;
  height: auto; 
  box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
  border-radius: 13px;
}

.card__image{
  width: 100%;
  height: 249px;
  object-fit: cover;
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
}
.card__project__body,
.card__project__title {
  margin: 0 1em;
}
.card__project__title {
  margin: 2em 2em;
}
.card__project__body {
  line-height: 1.4;
}

.card__container{
  margin-bottom: 1em;
}
.title__project {
  padding: 1em 1.3em;
  color: #fff;
  background-color: #000;
  box-shadow: -6px 6px #42e2b8;
}

.buttons__group {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1em;
}
.buttons__group > .button {
  width: 100%;
}
.card__i{
  font-size: 22px;
}

/* Social links */
.social{
  display: flex;
  flex-direction: row;
  gap: 1em;
  justify-content: flex-start;
  align-items: center;
  margin-top: 2em;
  margin-bottom: 2em;
}

.social__link{
  background-color: #42e2b8;
  color: #000;
  padding: 10px 15px;
  font-size: 24px;
  border-radius: 15px;
  border: 3px solid #000;
}
.social__link:hover {
  box-shadow: 0 4px 16px rgba(66, 226, 184,1);
  transition: all .2s linear;
}
@media (max-width: 740px) {
  .navigation {
    display: flex;

    flex-direction: column;
    gap: 5px;
    margin: 1em;
  }

  .navigation__menu {
    display: none;
  }

  .container {
    padding: 0 1em;
  }

  .profile {
    flex-direction: column-reverse;
    height: auto;
  }

  .profile__message {
    width: 100%;
  }

  .profile__image {
    width: 100%;
  }

  .profile__message > h2 {
    font-size: 29px;
    font-weight: 700;
  }

  .profile__message > p {
    font-size: 20px;
    font-weight: 400;
  }

  .profile_image {
    width: 70%;
  }
  .portfolio__container {
    display: flex;
    flex-direction: column;
    gap: 2em;
  }
  .card__project{
    width: 100%;
  }
}
